

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, Helvetica,  sans-serif;
	font-size:0.8em;
	color:#000;
}
div.sitewrap {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding:0;
}

div.mgnlMainbarPreview{
	display:none;
}
p{
	margin:7px 0 7px 0;
	padding:0;
}
a {
	color:#1269bb;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;	
}
img {
	border: 0;
}
.clearfloat {
	clear: both;
	height:0px;
	font-size:0em;
}

div.styled_li ul{
	margin:0;
	padding:0;
}
	div.styled_li ul li{
		background: url(/docroot/images/ster.gif) no-repeat 0 0;
		list-style:none;
		padding:0 0 0 20px;
		margin:3px 0 3px 0;
	}


/************************************************************************/
/* Sitewide menu														*/
/************************************************************************/
div.headerarea{
	display:none;
}	

div.toolbar-button{
	margin:10px 0 10px 0;
	cursor:pointer;
	
}
	div.toolbar-button div.left-img{
		background: url(/docroot/images/tb_button_left.gif) no-repeat 0 0;
		height:28px;
		width:30px;
		float:left;
	}
	div.toolbar-button div.text-img{
		background: url(/docroot/images/tb_button_fill.gif) repeat-x 0 0;
		float:left;
		height:28px;
	}
		div.toolbar-button div.text-img a{
			padding:5px 4px 0 10px;
			color:#000000;
			display:block;
			text-decoration:none;
			font-size:0.9em;
	}
	div.toolbar-button div.right-img{
		background: url(/docroot/images/tb_button_right.gif) no-repeat 0 0;
		height:68px;
		width:18px;
		float:left;
	}
/************************************************************************/
/* content											                    */
/************************************************************************/
div.contentwrap{
	float:left;
	min-height:340px;
    height:auto !important;
    height:340px;
	width:940px;
	margin:0 0 0 0;
}
	div.contentwrap div.pathway{
		display:none;
	}
			div.contentwrap div.pathway a{
				display:none;
			}
			div.contentwrap div.pathway a:hover{}
			div.contentwrap div.pathway a.active{
				display:none;
			}
			div.contentwrap div.pathway a.chapter{
				display:none;
			}
/************************************************************************/
/* layout left											                */
/***********************************************************************/
div.layout-left{
	display:none;
}
	div.layout-left div.mainlevel ul.mainlevel-1{	
		display:none;
	}
		div.layout-left div.mainlevel ul.mainlevel-1 li{
			display:none;
		}
			div.layout-left div.mainlevel ul.mainlevel-1 li a{
				display:none;
			}
			div.layout-left div.mainlevel ul.mainlevel-1 li a:hover{}
			div.layout-left div.mainlevel ul.mainlevel-1 li a.active{
				display:none;
			}		
			div.layout-left div.mainlevel ul.mainlevel-1 li a.current{
				display:none;
			}
div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2{
	display:none;
}		
	div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2 li{
		display:none;
	}	
		div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2 li a{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2 li a:hover{}
		div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2 li a.active{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-1 ul.mainlevel-2 li a.current{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3{
			display:none;
		}
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3 li{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3 li a{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3 li a:hover{}
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3 li a.active{
			display:none;
		}	
		div.layout-left div.mainlevel ul.mainlevel-2 ul.mainlevel-3 li a.current{
			display:none;
		}	


/************************************************************************/
/* layout center area										            */
/************************************************************************/
div.layout-center{
	background:#FFFFFF;
	float:left;
	width:460px;
	min-height:400px;
	height:auto !important;
	height:400px;
}	
div.layout-center div.layout-center-text{
	margin:0px;
	display:inline;
	float:left;
}
div.layout-center div.layout-center-text p{
	padding:0 10px 0 0;
}
	div.layout-center div.layout-center-text h1{
		color:#000000;
		font-size:1.5em;
		margin:0px 0 15px 0;
		padding:0;
	}
	div.layout-center div.layout-center-text h2{
		color:#000000;
		font-size:1.4em;
		margin:0px 0 15px 0;
		padding:0;
	}

div.layout-center div.layout-center-text ul.anchor-link{
	margin:0;
	padding:0;
}	
	div.layout-center div.layout-center-text ul.anchor-link li{	
		list-style: none;
	}
		div.layout-center div.layout-center-text ul.anchor-link li a{
			background: url(/docroot/images/arrow_list.gif) no-repeat 0 3px;
			padding:0 0 0 17px;
			text-decoration:none;
		}
		div.layout-center div.layout-center-text ul.anchor-link li a:hover{
			color:#999999;
		}
div.anchor-content{}
	div.anchor-content div.header{
		font-weight:bold;
		padding:15px 0 0 0;
	}
		div.layout-center div.layout-center-text img.left-float{
			float:left;
			margin:0 10px 10px 0;
		}
		div.layout-center div.layout-center-text div.highlight{
			margin:20px 0 0 0;
		}
		div.layout-center div.layout-center-text div.highlight div.highlight-top{
			background: url(/docroot/images/highlight_top.gif) no-repeat 0 10px;
			width:460px;
			height:20px;
		}
		div.layout-center div.layout-center-text div.highlight div.highlight-content{
			background: url(/docroot/images/highlight_content.gif) repeat-y 0 0;
			width:460px;			
		}
			div.layout-center div.layout-center-text div.highlight div.highlight-content-text{
				display:none;
			}
		div.layout-center div.layout-center-text div.highlight div.highlight-bottom{
			background: url(/docroot/images/highlight_bottom.gif) no-repeat 0 0px;
			width:460px;
			height:10px;
		}
div.layout-center div.layout-center-text  a.back-top{
	display:none;
	}	
	div.layout-center div.layout-center-text  a.back-top:hover{
		display:none;
	}	
	div.layout-center div.layout-center-text div.underline{
		display:none;
	}		

/************************************************************************/
/* layout center area wide									            */
/************************************************************************/		
		
div.layout-center-wide{
	background:#FFFFFF;
	float:left;
	width:700px;
	min-height:400px;
	height:auto !important;
	height:400px;
}	
div.layout-center-wide div.layout-center-text{
	margin:0px;
	display:inline;
	float:left;
}
div.layout-center-wide div.layout-center-text p{
	padding:0 10px 0 0;
}
div.layout-center-wide div.layout-center-text div a.back-top{
	background: url(/docroot/images/arrow_backtop.gif) no-repeat 0 6px;
	font-size:0.85em;
	text-decoration:none;
	padding:0 0 0 8px;
	float:right;
	}	
	div.layout-center-wide div.layout-center-text div a.back-top:hover{
		text-decoration:underline;
	}	
	div.layout-center-wide div.layout-center-text div.underline{
		display:none;
	}	
	div.layout-center-wide div.layout-center-text h1{
		color:#000000;
		font-size:1.5em;
		margin:0px 0 15px 0;
		padding:0;
	}
	div.layout-center-wide div.layout-center-text h2{
		color:#000000;
		font-size:1.4em;
		margin:10px 0 15px 0;
		padding:0;
	}
		div.layout-center-wide div.layout-center-text img.left-float{
			float:left;
			margin:0 10px 10px 0;
		}
		div.layout-center-wide div.layout-center-text div.highlight{
			margin:20px 0 20px 0;
		}
		div.layout-center-wide div.layout-center-text div.highlight div.highlight-top{
			background: url(/docroot/images/highlight_top_wide.gif) no-repeat 0 10px;
			width:700px;
			height:20px;
		}
		div.layout-center-wide div.layout-center-text div.highlight div.highlight-content{
			background: url(/docroot/images/highlight_content_wide.gif) repeat-y 0 0;
			width:700px;
		}
			div.layout-center-wide div.layout-center-text div.highlight div.highlight-content-text{
				display:none;
			}
		div.layout-center-wide div.layout-center-text div.highlight div.highlight-bottom{
			background: url(/docroot/images/highlight_bottom_wide.gif) no-repeat 0 0;
			width:700px;
			height:10px;
		}
div.layout-center-wide div.layout-center-text a.back-top{
	display:none;
	}	
	div.layout-center-wide div.layout-center-text a.back-top:hover{
		display:none;
	}	
	div.layout-center-wide div.layout-center-text div.underline{
		display:none;	
	}		
div.layout-center-wide div.layout-center-text ul.anchor-link{
	display:none;
}	
	div.layout-center-wide div.layout-center-text ul.anchor-link li{	
		display:none;
	}
		div.layout-center-wide div.layout-center-text ul.anchor-link li a{
			display:none;
		}
		div.layout-center-wide div.layout-center-text ul.anchor-link li a:hover{
			display:none;
		}
/************************************************************************/
/* ads styles									                        */
/************************************************************************/			
		
div.layout-center-wide div.layout-center-text div.ad-top-block{
	width:690px;
	margin:0 0 20px 0;
	padding:0;
}
	div.layout-center-wide div.layout-center-text div.ad-top-block div.underline{
		display:none;
	}
	div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-image{
		display:none;
	}
		div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-image img{
			 float:left;
		}
		div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-anchors{
			float:left
		}
			div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-anchors ul{
				margin:25px 0 0 0;
				padding:0;
			}
				div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-anchors ul li{
					list-style:none;
					height:19px;
					padding:0;
					margin:0;
				}
					div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-anchors ul li a{
						background: url(/docroot/images/yellow_block_arrow.jpg) no-repeat 0 0;
						text-decoration:none;
						padding:0 0 0 20px;
						margin:0;
						display:block;						
					}
					div.layout-center-wide div.layout-center-text div.ad-top-block div.ad-top-anchors ul li a:hover{}

div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block{
	width:690px;
	margin:0 0 20px 0;
	height:auto;
}
	div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block h2{}
	div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block div.ad-block-image{
		width:310px;
		float:left;
		margin:0 0 20px 0;
	}
	div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block div.ad-block-text{
		float:left;
		width:360px;
		margin:0 0 20px 0;
	}
		div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block div.ad-block-text h3{
			background: url(/docroot/images/yellow_block_arrow.jpg) no-repeat 0 0;
			font-size:1em;
			margin:0 0 3px 0;
			padding:0 0 0 20px;
		}
		div.layout-center-wide div.layout-center-text div.ad-collection div.ad-block div.ad-block-text p{
			margin:0 0 3px 21px;
			padding:0;
			font-size:0.9em;
		}
/************************************************************************/
/* press styles									                        */
/************************************************************************/	
div.layout-center-wide div.layout-center-text div.press-top-block{}
	div.layout-center-wide div.layout-center-text div.press-top-block div.press-top-image{
		margin:0 0 20px 0;
	}
div.layout-center-wide div.layout-center-text div.press-block{
	margin:0 0 20px 0;
}
	div.layout-center-wide div.layout-center-text div.press-block div.press-block-text{}
	div.layout-center-wide div.layout-center-text div.press-block div.press-block-text h2{
		margin:0;
		padding:0;
	}
	div.layout-center-wide div.layout-center-text div.press-block div.press-block-text p{
		margin:0;
		padding:0;
	}
	div.layout-center-wide div.layout-center-text div.press-block div.press-block-text div.date{
		font-style:italic;
		color:#ff9900;
	}
	div.layout-center-wide div.layout-center-text div.press-block div.press-service-links{
		margin:5px 0 0 0;
	}
		div.layout-center-wide div.layout-center-text div.press-block div.press-service-links a{
			font-size:0.87em;
		}
		div.layout-center-wide div.layout-center-text div.press-block  div.press-service-links a:hover{}
		
		div.layout-center-wide div.layout-center-text div.press-block div.press-service-links a.more{
			background: url(/docroot/images/yellow_block_arrow.jpg) no-repeat 0 0;
			padding:0 0 0 22px;
			height:16px;
			float:left;
		}
		div.layout-center-wide div.layout-center-text div.press-block div.press-service-links a.print{
			background: url(/docroot/images/print.gif) no-repeat 0 0;
			padding:0 15px 0 20px;
			float:right;
		}
		div.layout-center-wide div.layout-center-text div.press-block div.press-service-links a.pdf{
			background: url(/docroot/images/pdf.gif) no-repeat 0 0;
			float:right;
			padding:0 0 0 20px;
		}		
		div.layout-center-wide div.layout-center-text div.press-block div.press-service-links div img{
			float:right;
		}

/************************************************************************/
/* layout right area									                */
/************************************************************************/			
div.layout-right{
	display:none;
}					
div.layout-right div.right-banners{}
	div.layout-right div.right-banners div{}
			div.layout-right div.right-banners div h1{
				display:none;
			}	
	div.layout-right div.right-banners div img{
		display:none;
	}
/************************************************************************/
/* Footer				                                             	*/
/************************************************************************/
div.footer{
	display:none;
}
div.footerarea{
	display:none;
}
/************************************************************************/
/* FAQ			                                */
/************************************************************************/	

dl#faq dt {
	color:#1269bb;
	font-weight:bold;
}
dl.faq dt.faqClosed {
	background:transparent url(/docroot/images/faq_forward_arrow.gif) no-repeat 0 7px;
	color:#1269bb;
	font-weight:bold;
	text-decoration:none;
	font-weight:bold;
	padding:3px 0 0 10px;
	cursor:pointer;
}
dl.faq dt.faqOpen {
	background:transparent url(/docroot/images/faq_down_arrow.gif) no-repeat 0 7px;
	color:#1269bb;
	cursor:pointer;
	font-weight:bold;
	padding:3px 0 0 10px;
}
dl.faq dd {
	display: block;
	margin: 0;
	padding: 0 0 0 10px;
	overflow: hidden;
}
/************************************************************************/
/* QUICKMENU			                                */
/************************************************************************/	
div.layout-left div.quickmenu-top{
	background: url(/docroot/images/bg_quickmenu_top.gif) no-repeat 0 100%;
	height:10px;
}
div.layout-left dl#quickmenu{
	background: url(/docroot/images/bg_quickmenu_fill.gif) repeat-y 0 0;
}
div.layout-left div.quickmenu-bottom{
	background: url(/docroot/images/bg_quickmenu_bottom.gif) no-repeat 0 0;
	height:10px;
}
dl#quickmenu{
	margin:0 0 0 0;
	padding:0 0 0 10px;
}

dl.quickmenu dt.quickmenuClosed {
	cursor:pointer;
}
dl.quickmenu dt.quickmenuOpen {
	cursor:pointer;
}

div.layout-left dl.quickmenu a.quickmenuHide,
div.layout-left dl.quickmenu a.quickmenuShow,
div.layout-left dl.quickmenu dd a.quickmenuToTop{
	display:none;
}
	div.layout-left dl.quickmenu dt{
		background: url(/docroot/images/quickmenu_active.gif) no-repeat 0 7px;
		color:#0066cc;
		display:block;
		font-size:0.9em;
		font-weight:bold;
		padding:5px 0 5px 15px;
		text-align:left;
		text-decoration:none;
	}
	div.layout-left dl.quickmenu dt.quickmenuClosed{
		background: url(/docroot/images/quickmenu.gif) no-repeat 0 7px;
		color:#0066cc;
		display:block;
		font-size:0.9em;
		font-weight:bold;
		padding:5px 0 5px 15px;
		text-align:left;
		text-decoration:none;
	}
	div.layout-left dl.quickmenu dd {
		display: block;
		margin: 0 10px 0 0;
		padding: 0 0 0 10px;
		border-bottom:1px dashed #ccc;
		overflow: hidden;
	}
	div.layout-left dl.quickmenu dd a{
		background: url(/docroot/images/quickmenu_level2.gif) no-repeat 0 5px;
		text-decoration:none;
		padding:0px 0 5px 12px;

	}
	div.layout-left dl.quickmenu dd p br{
		margin:0;
		padding:0;
		font-size:10px;
	}
/************************************************************************/
/* Flash container			                                            */
/************************************************************************/
div.layout-center-wide div.layout-center-text div.flash-container{
	position:relative;
}
	div.layout-center-wide div.layout-center-text div.flash-container div.flash-block{
		margin:0 0 0 0;
		padding:0 0 0 0;
		height:363px;
		display:block;
		width:700px;
	}
	div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons{
		text-align:center;
		float:left;
		margin:0 0 0 0;
	}	
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a{
			height:80px;
			display:block;
			float:left;
			width:170px;
		/*border:3px solid #FFFFFF;*/
		}	
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a.pic-1{
			padding:0 6px 0 0;
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a.pic-2{
			padding:0 6px 0 0;
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a.pic-3{
			
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a.pic-4{
			padding:0 0 0 6px;
		}
		
		
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons a.current{
			/*background: url(/docroot/images/flash_image_overlay.gif) no-repeat 0 5px;*/
			height:80px;
			display:block;
			float:left;
			width:170px;
			/*border:3px solid #ffbb04;*/
		}	
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons div.mask-frame-1{
			background: url(/docroot/images/flash_image_overlay.gif) no-repeat 0 0 ;
			position: absolute;
			top: 363px;
			left: 0px;
			width: 170px;
			height: 80px;
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons div.mask-frame-2{
			background: url(/docroot/images/flash_image_overlay.gif) no-repeat 0 0 ;
			position: absolute;
			top: 363px;
			left: 176px;
			width: 170px;
			height: 80px;
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons div.mask-frame-3{
			background: url(/docroot/images/flash_image_overlay.gif) no-repeat 0 0 ;
			position: absolute;
			top: 363px;
			left: 352px;
			width: 170px;
			height: 80px;
		}
		div.layout-center-wide div.layout-center-text div.flash-container div.flash-buttons div.mask-frame-4{
			background: url(/docroot/images/flash_image_overlay.gif) no-repeat 0 0 ;
			position: absolute;
			top: 363px;
			left: 528px;
			width: 170px;
			height: 80px;
		}
/************************************************************************/
/* FORM STYLES				                                            */
/************************************************************************/	
div.layout-center-wide{
	float:left;
}

div.layout-center-wide div.layout-center-text{}
	div.layout-center-wide div.layout-center-text h1{
		font-size:1.3em;
		float:left;
		margin:0;
		padding:0;
	}
	div.layout-center-wide div.layout-center-text a.helplink{
		font-size:0.85em;
		padding:3px 0 10px 10px;
		color:#000000;
		float:left;
	}	
	div.layout-center-wide div.layout-center-text a.clearlink{
		font-size:0.85em;
		padding:3px 0 10px 10px;
		color:#000000;
		float:right;
	}
	div.layout-center-wide div.layout-center-text a.formlink{
		font-size:0.85em;
		color:#000000;
		padding:0 0 0 10px;
	}
	div.layout-center-wide div.layout-center-text a.catlink{
		font-size:0.85em;
		color:#000000;
		display:block;
		padding:15px 0 0 0;
	}
	div.layout-center-wide div.layout-center-text div.required{
		font-weight:bold;
		margin:0 0 10px 0;
	}
form.add-update-data{
	margin:0;	
	padding:0;
	width:700px;
	}
	form.add-update-data div.left-form-area{
		border-right:2px solid #cccccc;
		float:left;
		width:400px;
	}
	form.add-update-data div.right-form-area{
		float:left;
		margin:0 0 0 10px;
	}

	form.add-update-data div.right-form-area table th{
		text-align:left;
		font-weight:normal;
	}
		form.add-update-data div.right-form-area table td.checkbox{
			text-align:center;
		}
	form.add-update-data div select{
		border:1px solid #cccccc;
	}
	form.add-update-data  div.check-block-left {
		width:130px;
		float:left;
		margin:0 0 10px 0;
	}
		form.add-update-data  div.check-block-left input{
			float:left;
		}
		form.add-update-data  div.check-block-left div.text{
			float:left;
			width:110px;
			margin:0 0 10px 0;
		}
	form.add-update-data  div.check-block-right {
		width:150px;
		float:left;
	}
		form.add-update-data  div.check-block-right input{
			float:left;
		}
		form.add-update-data  div.check-block-right div.text{
			float:left;
			width:130px;
			margin:0 0 10px 0;
		}
	form.add-update-data label.default{
		margin:15px 0 5px 0;
		padding:0;
		display:block;
		font-size:0.9em;
	}
	form.add-update-data label.left{
		float:left;
		padding:0 10px 0 0;
	}
	form.add-update-data input.xxl{
		width:330px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.xl{
		width:300px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.l{
		width:250px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.m{
		width:210px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.s{
		width:100px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.xs{
		width:70px;
		border:1px solid #cccccc;
	}
	form.add-update-data input.xxs{
		width:60px;
		border:1px solid #cccccc;
	}
	form.add-update-data div.tripple-block{}
		form.add-update-data div.tripple-block div{
			float:left;
		}
			form.add-update-data div.tripple-block div input{
				margin:0 7px 0 0;
			}
			form.add-update-data div.tripple-block div select{
				margin:0 7px 0 0;
				border:1px solid #cccccc;
			}
form.add-update-data div.sender-info{
	margin:40px 0 20px 0;
	float:left;
	min-height:130px;
  	height:auto !important;
	height:130px;
	width:700px;
  	border-top:2px solid #cccccc;
	border-bottom:2px solid #cccccc;
} 
form.add-update-data div.sender-info div.left-form-area-bottom{
		float:left;
		width:405px;
	}
	form.add-update-data div.sender-info div.right-form-area-bottom{
		float:left;
		margin:0 0 0 7px;
	}
form.add-update-data input{
	font-family:Arial, Helvetica, sans-serif;
}
form.add-update-data div.disclaimer{
	float:left;
	width:700px;
	margin:0 0 20px 0;
}
	form.add-update-data input.send{
		cursor:pointer;
		float:right;
	}
form.add-update-data input.clear{
	border:0;
	background:none;
	padding:10px 0 0 0;
	font-size:0.85em;
	cursor:pointer;
	float:right;
	text-decoration:underline;
}
form.add-update-data input.clear:hover{
	text-decoration:none;
}
form.add-update-data div.disclaimer div.disclaimer-text{
		color:#999999;
		margin:20px 0 0 0;
	}	
div.border-bottom{
	border-bottom:2px solid #cccccc;
	float:left;
	margin:17px 0 0 0;
	width:700px;
}
/************************************************************************/
/* FORM OUTPUT STYLES				                                    */
/************************************************************************/	
table.FormOutputTable{
	margin:0 0 40px 0;
}
	table.FormOutputTable td{
		border:1px solid #cccccc;
		padding:5px 0 5px 5px;
	}
	table.FormOutputTable th{
		padding:5px 0 5px 5px;
		border:none;
	}


{
    font-family: inherit;
    font-size: inherit;
}

html {
    padding: 0;
    margin: 0;
}

body {
    min-width: 990px;
    color: #000;
    background-color: #fff;
    font-family: arial,helvetica,sans-serif;
    padding: 0;
    margin: 0 0 5px;
    font-size: 12px;
}

h1 {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

h2 {
    padding: 0;
    margin: 0 0 .5em 0;
    font-size: 1.25em;
    color: #999;
    clear: both;
}
h3 {
    font-size: 18px;
}

img {
    border: 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

/* START REQUIRED STYLES - DO NOT REMOVE STYLES BELOW THIS LINE */
.hidden {
    display: none !important;
}
.clearer {
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/*
 * lists of links that are marked up as a list but
 * which we don't wanna display as a list
 */
.linkList,
.linkList li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * lists of links that should be displayed side by side
 */
.horizontalLinkList {
    overflow: hidden;
}
.horizontalLinkList li {
    float: left;
}

.resLinks .horizontalLinkList {
    margin-top: 6px;
}

.formInp {
    border-color:#A5A394 #A7A7A7 #C9C8C3 #AEABA6;
    border-style:solid;
    border-width:1px;
    float: left;
}
.formInp input {
    border: 0;
    float: left;
    margin: 0;
}
#lmi_searchFields input.formError{
    color: #FF0000;
    background-color: transparent !important;
}
input.formError,
select.formError {
    background-color: #FFFF99 !important;
}
div.searchForm .formInp {
    float: none;
    border: none;
}
.error p{
    color: #FF0000;
}

/*
 * Header ****************
 */
#lmi_hdr {
  display:none;
}
#lmi_hdr .logo {
    padding: 8px 100px 8px 8px;
    float: left;
    width: 145px;
    height: 45px;
}
#lmi_hdr.tabbed .logo {
    padding: 25px 13px 0 27px;
}

/*
 * Navigation
 */
#lmi_hdr .hdrNav {
    overflow: visible;
    /*padding-top: 48px;*/
    position: absolute;
    left: 200px;
    bottom: -2px;
}
#lmi_hdr .hdrNav li {
    margin: 0 9px 0 0;
    font-size: 12px;
    width: 118px;
    text-align: center;
    padding-right: 6px;
}
#lmi_hdr .hdrNav li a {
    display: block;
    padding-left: 6px;
    padding-top: 2px;
    line-height: 26px;
    color: #494834;
    font-weight: bold;
    text-decoration: none;
}
#lmi_hdr .hdrNav li a:hover {
    color: #000;
    }
#lmi_hdr .hdrNav li.yellowTabactive,
#lmi_hdr .hdrNav li.productTabactive,
#lmi_hdr .hdrNav li.searchTabactive {
    position: relative;
    background-position: 0 0;
    z-index: 199;
    font-weight: bold;
}
#lmi_hdr .hdrNav li.yellowTabactive a, 
#lmi_hdr .hdrNav li.productTabactive a, 
#lmi_hdr .hdrNav li.searchTabactive a {
    line-height: 26px;
    padding-bottom: 4px;
    background-position: right top;
    color: #000;
}
#lmi_hdr .hdrNav li.yellowTabactive {
    background: url(/docroot/images/yellow_right_active.png) right top no-repeat;
}
#lmi_hdr .hdrNav li.yellowTabactive a {
    background: url(/docroot/images/yellow_left_active.png) left top no-repeat;
    line-height: 26px;
    padding-bottom: 1px;
    padding-top: 3px;
}
#lmi_hdr .hdrNav li.productTab {
    background: url(/docroot/images/blue_right_inactive.png) right top no-repeat;
}
#lmi_hdr .hdrNav li.productTab a {
    background: url(/docroot/images/blue_left_inactive.png) left top no-repeat;
}
#lmi_hdr .hdrNav li.searchTab {
    background: url(/docroot/images/green_right_inactive.png) right top no-repeat;
}
#lmi_hdr .hdrNav li.searchTab a {
    background: url(/docroot/images/green_left_inactive.png) left top no-repeat;
}

/*
 * user links
 */
#lmi_hdr .actionLinks .hidden { /* change default behavior to enable the abiltiy to determine width*/
    display: block !important;
    visibility: none;
}
#lmi_hdr .actionLinks {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#lmi_hdr .userLinks {
    float: right;
    margin: 22px 10px 0 0;
    clear: right;
}
#lmi_hdr .actionLinks li, 
#lmi_hdr .userLinks li {
    color: #1D77D2;
    padding: 0 5px;  /* if changing update searchform_init.js file to match*/
    font-size: .95em;
}
#lmi_hdr .actionLinks li a,
#lmi_hdr .userLinks li a {
    color: #1D77D2;
    display: block;
}
#lmi_hdr .actionLinks li a {
    padding: 2px;
}
#lmi_hdr .actionLinks li {
    border-right: 1px solid #EAEAEA; /* if changing update searchform_init.js file to match*/
}
#lmi_hdr .actionLinks li.last {
    border: 0;
}
#lmi_hdr .actionLinks li a.advertise {
    padding-left: 15px;
    background: url(/docroot/images/arrow_sprite.png) no-repeat left 4px;
}
#lmi_hdr .actionLinks li a.advertise:hover, 
#lmi_hdr .actionLinks li a.advertiseHover {
    background-position: left -20px;
}
#lmi_hdr .actionLinks li a.help {
    padding-left: 24px;
    background: url(/docroot/images/help_icon.png) no-repeat left top;
}
#lmi_hdr .actionLinksMenu {
    position: absolute;
    z-index: 900;
    padding-top: 20px;
}
#lmi_hdr .actionLinksMenu .menu {
    background: #FFF;
    padding: 5px;
    border: 1px solid #EAEAEA;
    border-top: 0;
    z-index: 902;
    position: relative;
}
#lmi_hdr .actionLinksMenu .menu li a {
    font-size: 11px;
    color: #000;
    line-height: 20px;
}
#lmi_searchFormSubmitButton {
    position: absolute;
    left: -9999px;
}

#lmi_hdr .searchForm .chooseCategoryLink,
#lmi_hdr .searchForm .chooseRegionLink {
    color: #000;
    font-size: .9em;
    position: relative;
    top: 3px;
}

/*
 * Header Links (hdr_links.css)
 */
/* Default = Yellow background:*/

#lmi_searchForm .hdrLinks {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

#lmi_searchForm .hdrLinks li {
    padding-left: 20px;
    padding-right: 5px;
    margin-right: 5px;
}

#lmi_searchForm .hdrLinks li a {
    font-size: .9em;
    height: 16px;
    line-height: 17px;
    color: #333;
}

#lmi_searchForm .hdrLinks li.email {
     background: url(/docroot/images/icon_email.png) no-repeat 0 4px;
}

#lmi_searchForm .hdrLinks li.print {
    background: url(/docroot/images/print_icon.png) no-repeat 0 0px;
}


/* 
 * Search Form **************************
 */
#lmi_searchForm {
	display:none;
}

#lmi_searchForm .searchFields {
    float: left;
}
#lmi_searchForm .formInp {
	border: none;
    position: relative;
    overflow: visible;
}



#lmi_searchForm .inputCont {
    width: 230px;
    float: left;
    margin-right:30px;
}
#lmi_searchForm .inputCont input {
    height: 17px;
    width: 193px;
    font-weight: bold;
    font-size: 15px;
}

#lmi_searchForm label {
    display: block;
    font-size: 11px;
    color: #000;
    clear: left;
    padding-left: 15px;
}
#lmi_searchForm label.homeLabel, label.homeLabel {
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: bold;
    margin: 0 10px 0 0;
    width: 48px;
    padding-left: 15px;
}
#lmi_searchForm #findOnMap div.searchForm label.homeLabel {
    display: inline;
}
#lmi_searchForm label.homeLabel{
    float: left;
    color: #333;
    padding: 0px 0px 3px 0px;
}
#lmi_searchForm label.homeLabel{
    float: none;
}

#lmi_searchForm .searchFields label.homeLabel {
    font-size: 16px;
    margin: 0px 0px -4px 16px;
    padding: 0px;
}
#lmi_searchForm .searchFields div.radiusInput label.homeLabel {
    margin: 0 0 5px 0;
}
#lmi_searchForm label.noMargin {
    margin-left: 0;
}
#lmi_searchForm label span {
    padding-right: 8px;
    color: purple;
    font-weight: bold;
}
#lmi_searchForm div.radiusInput {
    margin-right: 15px;
    float: left;
}
#lmi_searchForm div.radiusInput select {
    float: left;
}

/* Search Form Styles for Specific Pages */
#lmi_searchForm .formInp {
    background: url(/docroot/images/search_field_left.gif) no-repeat left top;
    height: 36px;
    border: none;
    padding: 0;
}

#lmi_searchForm #lmi_searchFields .formInp {
    background: url(/docroot/images/search_field_left.gif) no-repeat left top;
    height: 36px;
}

#lmi_searchForm #lmi_searchFields .formInp input,
#lmi_searchForm .inputCont .formInp input {
    background: url(/docroot/images/search_field_middle.gif) repeat-x left top;
    padding: 12px 0 9px;
    margin-left: 21px;
}

#lmi_searchForm img.searchFieldRightNoArrow {
    right: -12px;
	position: absolute;
	z-index: 9;
}

#lmi_searchForm .whatInput,
#lmi_searchForm .whereInput {
    position: relative;
    }

#lmi_searchForm {
    background: #FCEB4B url(/docroot/images/header_bg.png) repeat-x left bottom;
}
#lmi_searchForm .www {
    background: #008bbd url( /docroot/images/gradient_hdr.png ) repeat-x left bottom;
    width: 100%;
    padding: 1px 0;
    height: 1.6em;
    border-top-width: 0;
}
#lmi_searchForm .www div.clearer {
    visibility: visible;
    width: 100%;
    height: 5px;
    background: url(/docroot/images/header_bottom_shadow.png ) repeat-x left bottom;
}

#lmi_searchForm .www h1.wwwTitle {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 0 .5em;
    height: 1.5em;
    padding: 0;
    float: left;
    position: relative;
    top: -3px;
}
#lmi_searchForm .www h1.wwwTitle a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-top: 3px;
}

#lmi_searchForm .www p.wwwLink {
    display: block;
    float: right;
    font-size: 11px;
    height: 12px;
    line-height: 16px;
    margin: 2px 0 0;
    padding: 0 5px 6px;
    color: #fff;
}

#lmi_searchForm .www p.wwwLink a {
    color: #fff;
}
#lmi_searchForm .www p.firstLink {
    border-left: 0;
}
#lmi_searchForm .proximitySearch, 
#lmi_searchForm .showCountry, 
#lmi_searchForm .advOptions {
    padding-left:10px;
    float: left;
    color: #000;
    margin-top: 30px;
    font-size: .95em;
    position: relative;
    text-decoration: underline;
    white-space: nowrap;
}
#lmi_searchForm .showCountry {
    margin-top: 35px;
}
#lmi_searchForm .proximitySearch {
    margin-top: 30px;
}
#lmi_searchForm .www input#wwwsubmit {
    height: 21px;
}
#lmi_searchForm input#wwwSubmit {
    height: 25px;
    margin-top: -2px;
    float: left;
}

/* Search Button:  Default = yellow, Polish */
#lmi_searchForm .wwwSubmit {
    display: block;
    float: left;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    width: 89px;
    height: 35px;
    background: url(/docroot/images/search_button_sprite_pl.gif) no-repeat left top;
}
#lmi_searchForm .wwwSubmit:hover {
	background-position: left -35px;
}

#lmi_searchForm .wwwSubmitEng {
    background-image: url(/docroot/images/search_button_sprite_en.gif);
}

#lmi_searchForm .wwwSubmit span {
    visibility: hidden;
}

/*
 * Footer Styles ***********************
 */
#lmi_footCont .foot {
    padding-top: 0;
    margin: 8px 0 0 30px;
    clear: both;
    font-size: 90%;
    color: #585858;
}
#lmi_footCont {
  display:none;
}

#lmi_footCont .foot ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#lmi_footCont .foot li {
    padding: 0px 6px 0px 6px;
    display: inline;
    border-left: 1px solid #E5E5E5;
}
#lmi_footCont .foot li.first {
    padding-left: 0;
    border: none;
}

#lmi_footCont .foot li a {
    color: #585858;
    font-size: 11px;
    text-decoration: none;
}

#lmi_footCont .foot p.copyright{
    margin: 15px 0 0;
    font-size: 11px;
    border-top: 1px dotted #CCC;
    float: left;
    padding: 8px 0 40px;
}

#lmi_footCont .foot div.pagination {
    width: 320px;
    float: right;
    font-size: 11px;
}	
}	
